.section {
  background-color: rgb(218, 227, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  border-radius: 5px;
  min-height: 100vh;
}
.main {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: antiquewhite; */
}
.main h1 {
  font-size: 35px;
  font-family: sans-serif;
}

.tribute_section {
  background: rgb(255, 255, 255);
  min-width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tribute_caption {
  padding: 10px;
}
.tribute_life{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tribute_life h3{
    padding-top: 35px;
    font-size: 25px;

}
.list_element{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px 120px; 
    line-height: 1.5;

}
.quote{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 120px;

}
